<!DOCTYPE html>
<!--

File Name:  about.ejs
Author:     Ulfany Furcal
Date:       10-01-2023
Student ID: 301268770

-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/logo.png" height="100" width="100" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Welcome to My Portfolio</h1>
        <p>I am a student in the Software Engineering Technology Program at Centennial College. Previously, I studied at
            Adani Vidya Mandir School in Ahmedabad, Gujarat.</p>
        <p>I love playing games and I excel in a lot of PC and mobile games. I have participated in different eSports
            tournaments. I am also a crypto-blockchain investor and keen on learning more about it.</p>
        <p>I am Future-focused and collaborative individual with a solid reputation in the gaming and eSports community
            gained through hands-on experience, building, engaging, and managing members. Recognized for possessing
            excellent interpersonal and communication skills and an ability to work independently and as part of a team,
            serving as a resource and expert on blockchain technology. Dedicated leader with a passion for the crypto,
            blockchain, and future of technology, a deep interest in computer programming and analysis, and a desire to
            grow within an emerging industry.</p>
        <ul>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </div>
    <footer>
        <p>© Copyright Priyanshu Pandya - 301208909 - COMP229 - Summer 23</p>
    </footer>
</body>

</html>