<!DOCTYPE html>
<!--

File Name:  about.ejs
Author:     Ulfany Furcal
Date:       10-01-2023
Student ID: 301268770

-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/logo.png" height="100" width="100" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Welcome to My Portfolio:</h1>
        <p>I'm delighted to have you here👩🏻‍💻</p>
        <p>This is the digital home of my creative journey, where I showcase my work, 
            passion projects, and everything in between of achieving my dream which is to become a Data Analytics professional and 
            help businesses to transform data into actionable insights.
            Feel free to explore and get to know me better through my projects and experiences.</p>
        <p>Whether you're here for inspiration, collaboration, or just a casual visit, I hope you find something that piques your interest. 
            If you have any questions or would like to connect, don't hesitate to contact me.</p>
        <p>Thank you for stopping by, and I hope you enjoy your stay!</p>
        <p>Please click on any of the links below to get to know about me:</p>
        <ul>
            <li><a href="/about">About Me</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact Me</a></li>
        </ul>
    </div>
    <footer>
        <p>© Copyright Ulfany Furcal - 301268770 - COMP229 - Fall 23</p>
    </footer>
</body>

</html>