<!DOCTYPE html>
<!--

File Name:  about.ejs
Author:     Ulfany Furcal
Date:       10-01-2023
Student ID: 301268770

-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/logo.png" height="100" width="100" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Projects</h1>

        <div class="project">
            <a href="/images/project1.png" target="_blank">
                <img src="/images/project1.png" alt="Project 1">
            </a>
            <h2>Project 1</h2>
            <p>Community Manager<br><br>
                Polkastream LLC<br><br>
                Selected to grow, monitor, and manage an engaging and informative community of users for the
                intelligently monetized streaming and gaming platform on the Polkadot Network. Develops and executes an
                engagement strategy, focusing on providing support by answering questions, welcoming new members, and
                managing daily dialog through Discord.</p>
        </div>

        <div class="project">
            <a href="/images/project2.jpg" target="_blank">
                <img src="/images/project2.jpg" alt="Project 2">
            </a>
            <h2>Project 2</h2>
            <p>Game organiser<br><br>
                game.tv <br><br>
                Worked independently as a game coordinator on the mobile eSports platform. Coordinated and organized
                matches, including creating player lobbies, spectating games, and entering results on the company
                website. Ensured a fair and engaging experience for users and promoted Game.tv's vision and objective to
                support continued growth.</p>
        </div>

        <div class="project">
            <a href="/images/project3.png" target="_blank">
                <img src="/images/project3.png" alt="Project 3">
            </a>
            <h2>Project 3</h2>
            <p>Real Estate Web Development<br><br>
                Created a real estate website as a part of the final project of the semester. Created a few web pages,
                including "listed properties," "contact-us," etc.
            </p>
        </div>
    </div>
    <footer>
        <p>© Copyright Priyanshu Pandya - 301208909 - COMP229 - Summer 23</p>
    </footer>
</body>

</html>