<!DOCTYPE html>
<!--

File Name:  about.ejs
Author:     Ulfany Furcal
Date:       10-01-2023
Student ID: 301268770

-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/logo.png" height="100" width="100" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>My Projects</h1>

        <div class="project">
            <a href="/images/project1.png" target="_blank">
                <img src="/images/project1.png" alt="Project 1: Seizure">
            </a>
            <h2>Project 1: BrainceX</h2>
            <p>Developer<br><br>
                Univeristy of Southern Denmark<br><br>
                In this project, I developed a time-series analysis system aimed at improving the early detection and prediction of 
                seizures in individuals with epilepsy. Leveraging advanced machine learning and signal processing techniques, 
                the system analyzes EEG (Electroencephalogram) or other relevant time-series data to identify patterns and anomalies 
                associated with impending seizures.
                By providing timely warnings or alerts, this project has the potential to significantly enhance the quality of life 
                for individuals with epilepsy, enabling them to better manage their condition and seek timely medical assistance when needed. 
                This innovative approach combines data science and medical expertise to contribute to the field of healthcare technology 
                and patient well-being.</p>
        </div>

        <div class="project">
            <a href="/images/project2.png" target="_blank">
                <img src="/images/project2.png" alt="Project 2: FileCryptify">
            </a>
            <h2>Project 2: File Cryptify</h2>
            <p>Business Intelligence & Developer<br><br>
                Bell GeekFest Hackathon 2023 <br><br>
                In our project, I played a dual role, focusing on both the business side and the user experience (UX) 
                and user interface (UI) aspects. On the business front, I conducted market research to understand the
                 need for our data protection solution, shaping our strategy by defining our value proposition, pricing model, 
                 and revenue avenues. Simultaneously, I worked on enhancing the user experience and interface, ensuring that "FileCryptify" 
                 was user-friendly and visually appealing based on user feedback. This combination allowed me to strike a balance between 
                 meeting business goals and providing an excellent user experience, contributing to the project's overall success.</p>
        </div>

        <div class="project">
            <a href="/images/project3.png" target="_blank">
                <img src="/images/project3.png" alt="Project 3: Bug Smasher Game">
            </a>
            <h2>Project 3: Bug Smasher Game</h2>
            <p>Developer<br><br>
                In this project I developed a simple bug smasher browser-based (HTML5 canvas) game.
                In this game, there's a bug that jumps around randomly on the screen. You try to catch 
                it by clicking on it. When you catch it, your score goes up, and the bug starts jumping 
                faster to make it more challenging. But don't worry, if it gets too hard, you can click the 
                "Reset Speed" button to go back to the original speed. And if you want a fresh start, just click the 
                "Reset Score" button to reset your score and try catching the bug all over again!
            </p>
        </div>
    </div>
    <footer>
        <p>© Copyright Ulfany Furcal - 301268770 - COMP229 - Fall 23</p>
    </footer>
</body>

</html>