<!DOCTYPE html>
<!--

File Name:  about.ejs
Author:     Ulfany Furcal
Date:       10-01-2023
Student ID: 301268770

-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/images/logo.png" height="100" width="100" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Services</h1>

        <div class="service">
                <img src="/images/service1.jpg" alt="service1">
            <h2>Business Intelligence</h2>
            <p>Providing solution to processses, technology and tools that allow business to transform data into actionable insights,
                including:</p>
            <ul>
                <li>Data Analytics</li>
                <li>Dashboard Development</li>
                <li>Data Warehousing</li>
                <li>Predictive Analytics</li>
                <li>Data Governance and Quality</li>
            </ul>
        </div>

        <div class="service">
            <img src="/images/service2.jpg" alt="service2">
            <h2>Basic Software Development</h2>
            <p>Offering software development services, including:</p>
            <ul>
                <li>Web Development</li>
                <li>Mobile App Development</li>
                <li>Database Design</li>
                <li>Front-end and Back-end Development</li>
                <li>UI/UX Design</li>
            </ul>
        </div>

        <div class="service">
            <img src="/images/service3.jpg" alt="service3">
            <h2>Problem Solving</h2>
            <p>Providing problem-solving assistance and guidance in:</p>
            <ul>
                <li>Algorithm Design</li>
                <li>Data Structures</li>
                <li>Code Optimization</li>
                <li>Debugging</li>
            </ul>
        </div>

    </div>
    <footer>
        <p>© Copyright Ulfany Furcal - 301268770 - COMP229 - Fall 23</p>
    </footer>
</body>

</html>